.width {
    width: 1200px;
    margin: 0 auto;
}

.content .row .box{
    height: 100px;
    width: 100px;
}

.allbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn {
    margin-left: 15px;
}
